@import url(text.css);

body {
  font-family: arial, sans-serif;
  color: #616161;
}

p {
  text-indent: 50px;
  line-height: 24px;
}

@media all and (min-width: 800px) {
  div {
    columns: 2;
  }
}