body {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

h1, .text-center {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    background-color: lightskyblue;
}

h1, h2, a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: white;
}

h2 a {
    color: lightskyblue;
}

h1:hover a, h2:hover a {
    color: darkblue;
}

#copyright {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
